.messengerLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messengerPageContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  overflow: hidden;
}

.messengerEmptyPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
