.item {
  display: grid;
  grid-template-columns: min-content 2fr 1fr;
  padding: 16px 24px;
  gap: 8px;
}

.middleBlock {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2px;
}

.fullName {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.message {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--text-secondary);
}

.lastMessageTime {
  color: var(--text-secondary);
  font-size: 12px;
  line-height: 16px;
}
